.avatar-show-img {
  width: 128px;
  height: 128px;
}

.well.profile-block {
  color: #ffffff;
  h3 {
    margin-top: 0;
  }
}

.well.profile-description {
  background-color: #185B9D;

}

.well.profile-contact-info {
  background-color: #43CDA2;

}